:root{

    --background-color: #FFFFFF;
    --hover-color: #6F5E5C;
    --header-color: #C3BAAA;
    --title-color: #6F5E5C;
    --elements-color: #91818A;
    --text-color: #FAF8D4;

    --font-type: "Lato", sans-serif;
    --Titulo-Cursivas:"Ephesis", cursive;

}