:root{

    --background-color: #FFFFFF;
    --hover-color: #6F5E5C;
    --header-color: #C3BAAA;
    --title-color: #6F5E5C;
    --elements-color: #91818A;
    --text-color: #FAF8D4;

    --font-type: "Lato", sans-serif;
    --Titulo-Cursivas:"Ephesis", cursive;

}

.nav-link:hover{
    text-decoration: underline;
    color: #6F5E5C;
}


.carousel .card {
  height: 550px;         
  overflow: hidden;       
}


.carousel .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;      
}

@media (max-width: 767px) {
  .carousel {
    display: none;
  }

}
